name: Build
on:
  pull_request:
  push:
    branches: [master]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Dependencies
        uses: jdx/mise-action/@v2

      - name: Build JS
        run:
          bin/build-js
          ls js_out
